{% extends "app/base.html.twig" %}

{% block title %}
    Batch Demo: {{ title }}
{% endblock title %}

{% block content %}
    <h1 class="h2 mb-4">Batch Demo: {{ title }}</h1>

    <h2 class="h3 mt-4">Source Code</h2>

    <pre><code class="language-php">{{- source_code -}}</code></pre>

    <h2 class="h3 mt-4">SQL Queries</h2>

    {% for query in sql.logs %}
        {% set runnable_sql = controller.unindent((query.sql)|doctrine_replace_query_parameters(query.params))  ~ ';' %}
        <pre><code class="language-sql">{{ runnable_sql }}</code></pre>
    {% endfor %}

    <h2 class="h3 mt-4">Output</h2>

    {{ output|raw }}
{% endblock content %}
